[Unit]
Description=Pomodoro Timer Daemon

[Service]
Type=simple
WorkingDirectory=%h/opt/pomodorod
ExecStart=%h/opt/pomodorod/bin/pomodorod

[Install]
WantedBy=default.target